<%= render 'shared/errors',obj:@repository %>

<%= form_with(model: @repository, local: true) do |f| %>
  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :owner %> <br>
    <%= f.collection_select(:user_ids, User.all ,:id, :first_name, {:prompt => "Select the owner"}, {:multiple => true, class: "custom-select shadow rounded"}) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>